[submodule "www/software/swdbapp/assets"]
	path = www/software/swdbapp/assets
	url = git@github.com:Wolfchamane/swdbapp-assets.git
[submodule "database-data"]
	path = apps/database/data
	url = git@github.com:Wolfchamane/swdbapp-database-data.git
