## Node & NPM
node_modules
npm*

## System files, editors & general
.DS_Store
.idea
.vscode
*.zip

## Database
**/.dbdata
*.insert.sql

## Generated project files & folders
*.jar
**/generated
**/dist
www/**/vue-js

## Environment files and other resource
.env/*
!.env/.gitkeep
.tsbuildinfo
