## Node & NPM
node_modules
npm*

## System files, editors & general
.DS_Store
.idea
.vscode
*.zip

## Database
**/.dbdata
*.insert.sql

## Project files & folders
**/dist
**/.env*
/db-data/
www/**/vue-js
